# Exercise 8
## 2  Non-negative matrix factorization
### Setup

In [2]:
import math
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import load_digits
from sklearn import decomposition
digits = load_digits ()
X = digits ["data" ]/255.
Y = digits ["target"]

### 2.1 Comparison of scikit-learn's NMF with SVD

### 2.2 Implementation

In [ ]:
def non_negative(data,num_components,t=1000):
    #initialize

## 3 Recommender system

In [3]:
import pandas as pd # install pandas via conda
# column headers for the dataset
ratings_cols = ['user id ','movie id ','rating ','timestamp ']
movies_cols = ['movie id ','movie title ','release date ',
'video release date ','IMDb URL ','unknown ','Action ',
'Adventure ','Animation ','Childrens ','Comedy ','Crime ',
' Documentary ','Drama ','Fantasy ','Film- Noir ','Horror ',
'Musical ','Mystery ','Romance ','Sci-Fi ','Thriller ',
'War ' ,'Western ']
users_cols = ['user id ','age ','gender ','occupation ','zip code ']
users = pd.read_csv('ml-100k/u.user ', sep ='|',names = users_cols , encoding ='latin-1 ')
movies = pd.read_csv('ml-100k/u.item ', sep='|',names = movies_cols , encoding ='latin-1 ')

ratings = pd.read_csv('ml-100k/u.data ', sep ='\t',names = ratings_cols , encoding ='latin-1 ')
# peek at the dataframes , if you like :)
users.head()
movies.head()
ratings.head()
# create a joint ratings dataframe for the matrix
fill_value = 0
rat_df = ratings.pivot(index = 'user id ',
columns ='movie id ', values = 'rating ').fillna(fill_value)
rat_df.head()

movie id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0