# Exercise 4a
## 3 Red Cards Study

In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [152]:
#load data with pandas
data=pd.read_csv('data/CrowdstormingDataJuly1st.csv')

In [153]:
data.ix[1200,:]

playerShort                toni-kroos
player                     Toni Kroos
club                   Bayern MÃ¼nchen
leagueCountry                 Germany
birthday                   04.01.1990
height                            182
weight                             78
position         Attacking Midfielder
games                               1
victories                           1
ties                                0
defeats                             0
goals                               0
yellowCards                         0
yellowReds                          0
redCards                            0
photoID                     84724.jpg
rater1                              0
rater2                              0
refNum                             66
refCountry                          4
Alpha_3                           LUX
meanIAT                      0.325185
nIAT                              127
seIAT                      0.00329681
meanExp                      0.538462
nExp                              130
seExp                       0.0137522
Name: 1200, dtype: object

All features for Toni Kroos - ref 66 - dyad. The column $\texttt{games}$ stands for the number of games in the player-referee dyad

We don't need all the features for our purposes. We can drop the first features including $\texttt{goals}$

In [154]:
data.drop(data.columns[[0,1,2,5,6,7,8,9,10,11,12,13,16]],1,inplace=True)

In [175]:
#transform birthday to age:
#season: 2012-2013, so at the end it was 2013
data.ix[:,1]=2013-pd.to_datetime(data.ix[:,1]).year

AttributeError: 'Series' object has no attribute 'year'

In [44]:
data.ix[:19,['rater1','rater2']].T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
rater1,0.25,0.75,NaN,NaN,NaN,0.25,0.00,1.0,0.25,0.0,0.0,0.5,0.0,0.0,0.00,0.0,0.5,0.0,0.0,0.00
rater2,0.50,0.75,NaN,NaN,NaN,0.00,0.25,1.0,0.25,0.0,0.0,0.5,0.0,0.0,0.25,0.0,0.5,0.0,0.0,0.25

In [52]:
np.mean(abs(data.ix[:,'rater1']-data.ix[:,'rater2'])),np.var(abs(data.ix[:,'rater1']-data.ix[:,'rater2']))

(0.05831882267033646, 0.011343119350169325)

I've looked at a small cut of the data set and the two raters do disagree occasionally by $0.25$. Bhe overall disagreement is relativley low with $0.058\pm0.011$

In [98]:
np.count_nonzero(np.isnan(data.ix[:,'rater1']))/len(data.ix[:,'rater1'])

0.14659517352836443

$\Rightarrow$ So around $15\%$ of the instances don't have a picture attached to them. But those must not be all individual players but only individual dyads

In [116]:
leagues=np.unique(data.ix[:,'leagueCountry'])
print(leagues)

['England' 'France' 'Germany' 'Spain']

There are only the four leagues above in the data set. So a One-Hot could be the following:

In [142]:
pd.DataFrame([leagues,np.identity(4,dtype=int)]).T

         0             1
0  England  [1, 0, 0, 0]
1   France  [0, 1, 0, 0]
2  Germany  [0, 0, 1, 0]
3    Spain  [0, 0, 0, 1]